%div{class:"col-xs-9"}
  %p#notice= notice

  %div
    %b Ut name:
    = @team.ut_name
  %div

%div{class:"col-xs-9"}
  &nbsp;

%div{class:"col-xs-9"}
  = link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary'
  = link_to 'Back', teams_path, class: 'btn btn-warning'
