%div{class:"col-xs-9"}
  %p#notice= notice

  %div
    %b Points:
    =@score.points

%div{class:"col-xs-9"}
  &nbsp;

%div{class:"col-xs-9"}
  = link_to 'Edit', edit_score_path(@score), class: 'btn btn-primary'
  = link_to 'Back', scores_path, class: 'btn btn-warning'
