%div{class:"col-xs-9"}
  %p#notice= notice

  %div
    %b Name:
    =@game.name
  %div
    %b Date:
    =@game.date

%div{class:"col-xs-9"}
  &nbsp;

%div{class:"col-xs-9"}
  = link_to 'Edit', edit_game_path(@game), class: 'btn btn-primary'
  = link_to 'Back', games_path, class: 'btn btn-warning'
