%div{class:"col-xs-9"}
  %p#notice= notice

  %div
    %b Name:
    =@player.name
  %div
    %b UT Nick:
    =@player.ut_nick

%div{class:"col-xs-9"}
  &nbsp;

%div{class:"col-xs-9"}
  = link_to 'Edit', edit_player_path(@player), class: 'btn btn-primary'
  = link_to 'Back', players_path, class: 'btn btn-warning'
